# Add any directories, files, or patterns you don't want to be tracked by version control
Click-to-move-roll/.vs

Click-to-move-roll/Temp

Click-to-move-roll/Library
Click-to-move-roll/.idea
Click-to-move-roll/Assembly-CSharp.csproj
Click-to-move-roll/Assembly-CSharp-Editor.csproj
Click-to-move-roll/Click-to-move-roll.sln
Click-to-move-roll/Click-to-move-roll.csproj
Click-to-move-roll/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

Click-to-move-roll/obj

.vs
/builds
Click-to-move-rollr/Assets/Plugins/Editor/JetBrains

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config
